<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Axios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RadioApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Axios.Properties.Settings>
            <setting name="MinimizeOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastVoteUUID" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVoteTime" serializeAs="String">
                <value />
            </setting>
        </Axios.Properties.Settings>
        <RadioApp.Properties.Settings>
            <setting name="MinimizeOnExit" serializeAs="String">
                <value>False</value>
            </setting>
        </RadioApp.Properties.Settings>
    </userSettings>
</configuration>